{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}

    <input type="submit" value="Inscription">
    {{ form_end(registrationForm) }}
{% endblock %}