<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>

    <header>
        <ul>
            {% if app.user %}
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% else %}
            <li><a href="{{ path('user_register') }}">Inscription</a></li>
            <li><a href="{{ path('login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </header>

        <body>

            {% block body %}{% endblock %}

        </body>

</html>
